html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* Skryje scrollbary */
  background-color: black;
  /* Pro jistotu */
  font-family: monospace;

}

.screen {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
  color: white;
  text-align: center;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.element-layer * {
  position: relative;
  z-index: 1;
}

.element-layer .screen-text,
.element-layer .screen-text-top {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.3rem;
  background: rgba(0, 0, 0, 0.8);
  display: inline;
  padding: 1rem;
}

.element-layer .screen-text-top {
  top: 6rem;
  transform: translate(-50%, 0);
}

.element-layer .screen-text-top p {
  margin: 0;
}

.button-container {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1rem;
  gap: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.button-container button,
.button-top-container button {
  border-color: white;
  background: rgba(0, 0, 0, .95);
  line-height: 1.7;
}

.button-container button:hover,
.button-top-container button:hover {
  background: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, 0.6));
  cursor: pointer;
}

.button-top-container {
  box-sizing: border-box;
  position: absolute;
  top: 1rem;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  z-index: 2;
  font-size: 0.9rem;
}

.corner-button:hover {
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.top-left {
  left: 1rem;
}

.top-right {
  right: 1rem;
}

.invisible {
  visibility: hidden;
}

.health-display {
  padding: 0.5rem 1rem;
  font-weight: bold;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

/* progressbar  */

.bar {
  /* 0–100 */
  width: 200px;
  height: 20px;
  background: #000;
  position: relative;
  overflow: hidden;
  border: 1px solid white
}

.fill {
  height: 100%;
  width: calc(var(--p) * 1%);
  background: white;
  border-radius: inherit;
  transition: width 600ms steps(100, end);
  /* “po jednotkách” */
}

.label {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  font: 12px/1;
  color: #0f172a;
  mix-blend-mode: multiply;
}