html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* Skryje scrollbary */
  background-color: black;
  /* Pro jistotu */
}

.screen {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
  color: white;
  text-align: center;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.text {
  top: 50%;
  position: relative;
  font-size: 2rem;
  font-family: monospace;
  background: black;
  opacity: .7;
  display: inline;
  padding: 1rem;
  z-index: 1;
}