html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* Skryje scrollbary */
  background-color: black; /* Pro jistotu */
}

.screen {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

.text {
  top: 50%;
  position: relative;
  font-size: 2rem;
  font-family: monospace;
}