html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* Skryje scrollbary */
  background-color: black;
  /* Pro jistotu */
  font-family: monospace;

}

.screen {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
  color: white;
  text-align: center;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.element-layer * {
  position: relative;
  z-index: 1;
}

.element-layer .screen-text,
.element-layer .screen-text-top {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  background: rgba(0, 0, 0, 0.8);
  display: inline;
  padding: 1rem;
}

.element-layer .screen-text-top {
  top: 1rem;
  transform: translate(-50%, 0);
}

.button-container {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1rem;
  gap: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.button-container button,
.button-top-container button {
  border-color: white;
  background: rgba(0, 0, 0, .95);
  line-height: 1.7;
}

.button-container button:hover,
.button-top-container button:hover {
  background: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, 0.6));
  cursor: pointer;
}

.button-top-container {
  box-sizing: border-box;
  position: absolute;
  top: 1rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  z-index: 2;
  font-size: 0.9rem;
}

.corner-button:hover {
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.top-left {
  left: 1rem;
}

.top-right {
  right: 1rem;
}